.App {
  text-align: center;
  display:flex;
  flex-direction:row;
  font-family: 'Montserrat', sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;
}

.content {
  height: auto;
}

.nav {
  width: 100%;
  background-color: LIGHTSKYBLUE;
  position: fixed;
  z-index: 3;
}

.profile{
  height:300px;
  width:300px;
}
