.App {
  text-align: center;
  display:flex;
  flex-direction:row;
  font-family: 'Montserrat', sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;
  width:100%
}

.content {
  height: auto;
}

.navbar{
  width: 100%;
  height: 8%;
  background-color: LIGHTSKYBLUE;
  position: fixed;
  z-index: 3;
}

.profile{
  height:300px;
  width:300px;
}

.modal{
  font-family: 'Montserrat';
}

.cardbutton{
  background-color:'#8795FA';
  border-color:'#8795FA';
  font-weight:'bold';
}

.skilltag{
  color: DARKSLATEBLUE;
  border-color: DARKSLATEBLUE;
  font-weight:'bold';
  margin-right: 5px;
  margin-top: 5px;
}

.card{
  width: '19rem';
  margin-left: '1rem';
}

.navbutton{
  background-color: transparent;
  border: none;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.navtitle{
  background-color: transparent;
  border: none;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}


.navbutton:focus{
  outline: 0;
}
